{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 text-center">
        <div class="mt-5 mb-4">
            <i class="fas fa-link-slash text-danger" style="font-size: 64px;"></i>
        </div>
        
        <h2 class="mb-3">Link Expired or Deactivated</h2>
        
        <p class="lead mb-4">
            The shareable link you're trying to access has expired or been deactivated by the owner.
        </p>
        
        <p class="mb-5">
            Please contact the person who shared this link with you to request a new one.
        </p>
        
        <a href="{{ url_for('document_routes.index') }}" class="btn btn-primary">
            <i class="fas fa-home me-2"></i>Go to Home Page
        </a>
    </div>
</div>
{% endblock %}
